// colors
$primary: #fed402;
$praimary-bolder: #d19211;
$white: #ffffff;
$black: #000000;
$red: #f31700;

$frame-wood: #e3ab7c;
$frame-iron: #000000;
$frame-nail: #e0e0e0;

$input-border: #c9c9c9;
$input-label: #999999;

$shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);

// fonts
$ar-primary: "Cairo", sans-serif;

$en-primary: "Work Sans", sans-serif;
$en-logo: "Bebas Neue", cursive;
$en-price: "Rubik", sans-serif;

// Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
// هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى .
